# Data Description

In the following I will present my model for the stock data set. Before I could fit my final model I had to transform the data. Next I will discuss how I changed the data structure and how I split the data intro training and validation parts.

In [1]:
import os
from pathlib import Path
import pandas as pd

ROOT = Path(os.getcwd()).parent

In [2]:
df = pd.read_parquet(ROOT / "data" / "stock_data.parquet")
df.iloc[:5, :10]

,date,Y,a2me,aoa,at,at_adj,ato,beme,beme_adj,beta
0,1965-01-31,0.461364,0.513089,0.282723,0.787958,0.319372,0.172775,0.484293,0.609948,0.335079
1,1965-01-31,0.542868,0.240838,0.774869,0.939791,0.340314,0.183246,0.232984,0.308901,0.526178
2,1965-01-31,0.249849,0.633508,0.096859,0.222513,0.884817,0.785340,0.774869,0.787958,0.853403
3,1965-01-31,0.371568,0.439791,0.463351,0.903141,0.434555,0.112565,0.494764,0.643979,0.570681
4,1965-01-31,-0.177803,0.654450,0.335079,0.704188,0.958115,0.848168,0.549738,0.793194,0.866492

The original data set contains 1_629_155 observations of stock returns including 63 features. One of these features is the date. In comparison to classical panel data, however, the above data does not have a unit index. That is, we cannot know which units move between time periods. Observations are measured from the 01.31.1965 until the 31.05.2014. Again, as in the simulated case, testing observations are given a ``NaN`` in the outcome column. Here the testing observations are all observations starting from the 31.01.2004 until the last observed time period.

## Cleaning the Data

Before training my models on the data I cleaned it in several ways. First of all I transformed the date column to a year column. I then dropped all observations older than 1990. And at last I dropped all observations which had absolute stock returns greater than 6. The data cleaning script can be found here [clean_data.py](https://github.com/timmens/topics-project/blob/main/codes/clean_data.py).

## Train / Validation Split

As I did not want to ignore the time dimension for the train / validation split I constructed the respective sets as follows. I grouped the cleaned data set into smaller sets by year. For each year I split the smaller set into 80% training and 20% validation set. Lastly I concatened the smaller sets together to form the final training and validation sets. Using this strategy I can train my model on all time-periods and evaluate the performance on all time-periods. The specific implementation is given in the script [train_test_split.py](https://github.com/timmens/topics-project/blob/main/codes/train_test_split.py).